.main{
    justify-content: center;
    display: grid;
}
.Book-NOW{
    display: flex;
    justify-content: center;
    padding: 8px 5px;
    background-color: #00475792;
    border-radius: 10px;
    width: 1000px;
    box-sizing: border-box;
    transform: translateX(10px);
    font-family: 'Phudu';
}
.BOOK{
    background-color: transparent;
    border: 1.5px solid rgba(34, 31, 31, 0.559);
    padding: 3px 5px;
    border-radius: 10px;
    font-family: 'Phudu';
    font-size: 110%;
    cursor: pointer;
}
.float-33{
    float: left;
    width: 33%;
}
.justify-left{
    justify-content: flex-start;
}
.trainDataDiv{
    cursor: pointer;
    padding: 20px;
    width: 1000px;
    border: 0.8px solid #00475792;
    border-radius: 5px;
    box-sizing: border-box;
}
.font-size-big{
    font-size: 18px;
}
.mar-right-high{
    margin-right: 300px;
}
.theme-color{
    color: #006699;
}
.date-color{
    color: #AF143E;
}
.station-color{
    color: #004757;
}
.input-train{
    background-color: transparent;
    font-family: 'Phudu', cursive;
    text-align: center;
    height: 25px;
    width: 400px;
    border: 0.8px solid rgba(50, 48, 48, 0.673);
    font-size: 20px;
    padding: 5px 8px;
    border-radius: 20px;
    margin: 5px 20px;
    display: flex;
    align-items: center;
}
.font-icon{
    cursor: pointer;
    font-size: 24px;
}
.search-btn{
    background-color: #006699;
    height: 25px;
    font-size: 20px;
    padding: 15px 8px;
    align-items: center;
    display: flex;
    border-radius: 20px;
    color: white;
    font-weight: 400;
    border: none;
    cursor: pointer;
}
.width-content{
    width: max-content;
}